<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/LENOVO/Desktop/Curso Lucia/Repo/TestNG-fecebook">
    <parameter name="user" value="ingrese un usuario"/>
        <parameter name="password" value="ingrese una pass"/>
        <parameter name="grupo" value="universo"/>
        <classes>
            <class name="AddGroup"/>
        </classes>
    </test>
</suite>